<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <form (keydown.enter)="$event.preventDefault(); submit()" th:action="@{/login}" class="auth-form" [formGroup]="loginForm">
            <p>
                <mat-form-field>
                    <mat-icon matPrefix fontIcon="perm_identity"></mat-icon>
                    <input matInput maxlength="10" placeholder="Username" formControlName="username" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-icon matPrefix fontIcon="lock_outline"></mat-icon>
                    <input matInput #password maxlength="10" type="password" placeholder="Password" formControlName="password" />
                </mat-form-field>
            </p>
            <div class="button">
                <button mat-button color="primary" routerLink="/registration">Sign up</button>
                <button mat-button color="primary" (click)="submit()">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
