<div fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span>Filtra RigaOrdine</span>
            <button mat-icon-button color="basic" mat-dialog-close (click)="close()"><mat-icon>close</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="mat-dialog-content" fxLayout="column">
        <form name="searchRigaOrdineForm" [formGroup]="searchRigaOrdineForm" (keyup.enter)="onSubmit()" fxLayout="column" fxLayoutGap="20" fxFlex>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <!-- idProdotto From -->
                <rsd-input-number formControlName="idProdottoDa" label="Id Prodotto {{ 'search.from' | translate }}..."></rsd-input-number>
                <!-- idProdotto To -->
                <rsd-input-number formControlName="idProdottoA" label="...{{ 'search.to' | translate }}"></rsd-input-number>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <!-- idOrdine From -->
                <rsd-input-number formControlName="idOrdineDa" label="Id Ordine {{ 'search.from' | translate }}..."></rsd-input-number>
                <!-- idOrdine To -->
                <rsd-input-number formControlName="idOrdineA" label="...{{ 'search.to' | translate }}"></rsd-input-number>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <!-- quantita From -->
                <rsd-input-number formControlName="quantitaDa" label="Quantita {{ 'search.from' | translate }}..."></rsd-input-number>
                <!-- Quantita To -->
                <rsd-input-number formControlName="quantitaA" label="...{{ 'search.to' | translate }}"></rsd-input-number>
            </div>

            <!-- Prodotto -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prodotto</mat-label>
                    <mat-select formControlName="idProdotto">
                        <mat-option *ngFor="let prodotto of prodottoList" [value]="prodotto.objectKey">
                            {{ prodotto.objectTitle }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Ordine -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Ordine</mat-label>
                    <mat-select formControlName="idOrdine">
                        <mat-option *ngFor="let ordine of ordineList" [value]="ordine.objectKey">
                            {{ ordine.objectTitle }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions fxLayoutAlign="space-between center">
        <!-- Reset button -->
        <button type="reset" mat-raised-button (click)="clear()" class="button-reset-white">Reset</button>
        <!-- Search button -->
        <button type="submit" [mat-dialog-close]="data" (click)="onSubmit()" mat-raised-button color="primary">Cerca</button>
    </div>
</div>
