<!-- First Page for User -->
<!-- Here you can view element list and use searches to filter them -->
<div class="container">
    <div class="content">
        <!-- Mat Card -->
        <mat-card>
            <!-- Card Header -->
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>{{ 'voila3sample.detail.User.label' | translate }}</mat-card-title>
                <!-- Quick Filter -->
                <form class="quick" name="searchUserForm" [formGroup]="searchUserForm" (keyup)="onUp()" fxLayout="column" fxLayoutGap="20" fxFlex>
                    <!-- Full Text Search based on Email -->
                    <rsd-input-text formControlName="email" iconSuffix="search"></rsd-input-text>
                </form>
                <!-- Search Dialog Button -->
                <button mat-icon-button (click)="openDialogResid()" matTooltip="Ricerca Avanzata con Resid" [color]="filters === '' ? 'basic' : 'warn'">
                    <mat-icon matBadgeSize="small" [matBadge]="filters === '' ? '' : '!'" matBadgeColor="accent"> filter_list </mat-icon>
                </button>
                <!-- Advanced Search Dialog Button -->
                <button mat-icon-button (click)="openDialogResidAdvanced()" matTooltip="Ricerca Avanzata con Resid Avanzata" [color]="filters === '' ? 'basic' : 'warn'">
                    <mat-icon matBadgeSize="small" [matBadge]="filters === '' ? '' : '!'" matBadgeColor="accent"> filter_list </mat-icon>
                </button>
            </mat-card-header>

            <mat-card-content class="overflow" autosize>
                <!-- Numero theUser trovati -->
                <!-- Elementi totali: {{totalRows}} -->
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

                <!-- Tabella tipo user -->
                <table aria-label="user's table" mat-table [dataSource]="dataSource" matSort>
                    <!-- User Id -->
                    <ng-container matColumnDef="userId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.User.userId' | translate }}</th>
                        <td mat-cell *matCellDef="let user">{{ user.userId }}</td>
                    </ng-container>
                    <!-- Email -->
                    <!-- <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.User.email' | translate }}</th>
                        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
                    </ng-container> -->
                    <!-- Password -->
                    <ng-container matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.User.password' | translate }}</th>
                        <td mat-cell *matCellDef="let user">{{ user.password }}</td>
                    </ng-container>
                    <!-- Username -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.User.username' | translate }}</th>
                        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="isClickable(Privileges?.USER_READ) && navigateToView(row.objectKey)" *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </mat-card-content>

            <!-- Card Footer -->
            <mat-card-footer>
                <!-- Pagination component -->
                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                    showFirstLastButtons
                >
                </mat-paginator>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <!-- Redirect to Selected Element -->
        <button *ngIf="Privileges?.USER_CREATE | Permission" mat-raised-button color="primary" class="margin-8" routerLink="/pages/voila3sample/user/detail-user/new">
            {{ 'buttons.new' | translate: { '0': '' | translate } }}
        </button>
        <!--Export xlxs-->
        <button *ngIf="Privileges?.USER_REPORT | Permission" mat-raised-button color="primary" class="margin-8" (click)="printXlsxReport()">
            {{ 'buttons.export.xlxs' | translate }}
        </button>
    </div>
</div>
