<mat-card>
    <!-- Card Header -->
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Quick Filter -->
        <form class="quick" name="searchOrdineForm" [formGroup]="searchOrdineForm" (keyup)="onUp()" fxLayout="column" fxLayoutGap="20" fxFlex>
            <!-- Full Text Search based on Descrizione -->
            <rsd-input-text formControlName="descrizione" iconSuffix="search"></rsd-input-text>
        </form>
    </mat-card-header>
    <!-- Card Content -->
    <mat-card-content class="overflow" autosize>
        <!-- View Mode -->
        <!-- Numero theOrdine trovati -->
        <!-- {{ Ordine | tableInfo: totalElements: page: pageSize }} -->
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <!-- Tabella tipo theOrdine -->
        <table aria-label="theOrdineFiglio's tab" mat-table [dataSource]="dataSource" matSort>
            <!-- Id Ordine -->
            <ng-container matColumnDef="idOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.idOrdine' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.idOrdine }}</td>
            </ng-container>
            <!-- Descrizione -->
            <ng-container matColumnDef="descrizione">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.descrizione' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.descrizione }}</td>
            </ng-container>
            <!-- Datetime -->
            <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.datetime' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.datetime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            </ng-container>
            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.date' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.date | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <!-- Time -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.time' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.time }}</td>
            </ng-container>
            <!-- Stato Ordine -->
            <ng-container matColumnDef="theStatoOrdine.idStatoOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theStatoOrdineObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.theStatoOrdineObjectTitle }}</td>
            </ng-container>

            <!-- Tipo Ordine -->
            <ng-container matColumnDef="theTipoOrdine.TheTipoOrdineKey">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theTipoOrdineObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.theTipoOrdineObjectTitle }}</td>
            </ng-container>

            <!-- Cliente -->
            <ng-container matColumnDef="theCliente.ThePersonaKey">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theClienteObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.theClienteObjectTitle }}</td>
            </ng-container>

            <!-- Ordine -->
            <ng-container matColumnDef="theOrdineAggregato.idOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theOrdineAggregatoObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.theOrdineAggregatoObjectTitle }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
    <!-- Footer -->
    <mat-card-footer>
        <mat-paginator
            #paginator
            [length]="totalRows"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
        >
        </mat-paginator>
    </mat-card-footer>
</mat-card>
