<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty name="LOGS" source="LOGS_DIR" />
	<springProperty scope="context" name="msName"
		source="spring.application.name" />
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- <layout class="ch.qos.logback.classic.PatternLayout"> -->
		<!-- <Pattern> -->
		<!-- %black(%d{ISO8601}) %highlight(%-5level) [%blue(%X{X-Correlation-ID})] 
			[%blue(${msName})] [%blue(%t)] %yellow(%-55C{40}): %msg%n%throwable -->
		<!-- </Pattern> -->
		<!-- </layout> -->
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<appender name="File"
	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/${msName}-logger.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %p %C{1}. [%t] %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>${LOGS}/archived/${msName}-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>
	
	<logger name="org.hibernate.SQL" level="DEBUG" />

</configuration>
