target/
**/.syncFolder/remote/**
/bin/
/modules/@PROJECT_ID@-angular2/node_modules
/modules/@PROJECT_ID@-angular2/dist
Thumbs.db
desktop.ini
.metadata
**/node_modules/*
**/.vscode/*
**/.angular/**

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/