<div>
    <mat-card class="mat-elevation-z8">
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Qta -->
            <div *ngIf="rigaOrdine?.qta">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.RigaOrdine.qta' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ rigaOrdine!.qta }}</strong>
                    </div>
                </div>
            </div>

            <!-- Ordine -->
            <div *ngIf="rigaOrdine?.theOrdineObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.RigaOrdine.theOrdineObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ rigaOrdine!.theOrdineObjectTitle }}</strong>
                    </div>
                </div>
            </div>
            <!-- Prodotto -->
            <div *ngIf="rigaOrdine?.theProdottoObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.RigaOrdine.theProdottoObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ rigaOrdine!.theProdottoObjectTitle }}</strong>
                    </div>
                </div>
            </div>

            <!--Tabs rigaOrdine -->
            <app-tabs-riga-ordine [formGroup]="rigaOrdineForm" [entity]="rigaOrdine" [pageStatus]="pageStatus"></app-tabs-riga-ordine>
        </mat-card-content>
    </mat-card>
</div>
