<div>
    <mat-card class="mat-elevation-z8">
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Nome Ordine -->
            <div *ngIf="tipoOrdine?.nomeOrdine">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.TipoOrdine.nomeOrdine' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ tipoOrdine!.nomeOrdine }}</strong>
                    </div>
                </div>
            </div>

            <!-- Id Tipo Ordine -->
            <div *ngIf="tipoOrdine?.idTipoOrdine">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <div fxLayout="column" fxFlex="30">
                        <!-- Label -->
                        <label>ID</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ tipoOrdine!.idTipoOrdine }}</strong>
                    </div>
                </div>
            </div>
            <!-- Anno Tipologia -->
            <div *ngIf="tipoOrdine?.annoTipologia">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <div fxLayout="column" fxFlex="30">
                        <!-- Label -->
                        <label>ID</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ tipoOrdine!.annoTipologia }}</strong>
                    </div>
                </div>
            </div>
            <!-- Categoria Ordine -->
            <div *ngIf="tipoOrdine?.theCategoriaOrdineObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.TipoOrdine.theCategoriaOrdineObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ tipoOrdine!.theCategoriaOrdineObjectTitle }}</strong>
                    </div>
                </div>
            </div>

            <!--Tabs tipoOrdine -->
            <app-tabs-tipo-ordine [formGroup]="tipoOrdineForm" [entity]="tipoOrdine" [pageStatus]="pageStatus"></app-tabs-tipo-ordine>
        </mat-card-content>
    </mat-card>
</div>
