<!-- First Page for PrivilegePerRole -->
<!-- Here you can view element list and use searches to filter them -->
<div class="container">
    <div class="content">
        <!-- Mat Card -->
        <mat-card>
            <!-- Card Header -->
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>{{ 'voila3sample.detail.PrivilegePerRole.label' | translate }}</mat-card-title>
                <!-- Search Dialog Button -->
                <button mat-icon-button (click)="openDialogResid()" matTooltip="Ricerca Avanzata con Resid" [color]="filters === '' ? 'basic' : 'warn'">
                    <mat-icon matBadgeSize="small" [matBadge]="filters === '' ? '' : '!'" matBadgeColor="accent"> filter_list </mat-icon>
                </button>
                <!-- Advanced Search Dialog Button -->
                <button mat-icon-button (click)="openDialogResidAdvanced()" matTooltip="Ricerca Avanzata con Resid Avanzata" [color]="filters === '' ? 'basic' : 'warn'">
                    <mat-icon matBadgeSize="small" [matBadge]="filters === '' ? '' : '!'" matBadgeColor="accent"> filter_list </mat-icon>
                </button>
            </mat-card-header>

            <mat-card-content class="overflow" autosize>
                <!-- Numero thePrivilegePerRole trovati -->
                <!-- Elementi totali: {{totalRows}} -->
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

                <!-- Tabella tipo privilegePerRole -->
                <table aria-label="privilegePerRole's table" mat-table [dataSource]="dataSource" matSort>
                    <!-- Role-->
                    <ng-container matColumnDef="theRole.idRole">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.PrivilegePerRole.theRoleObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let privilegePerRole">{{ privilegePerRole.theRoleObjectTitle }}</td>
                    </ng-container>
                    <!-- Privilege-->
                    <ng-container matColumnDef="thePrivilege.idPrivilege">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.PrivilegePerRole.thePrivilegeObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let privilegePerRole">{{ privilegePerRole.thePrivilegeObjectTitle }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="isClickable(Privileges?.PRIVILEGE_PER_ROLE_READ) && navigateToView(row.objectKey)" *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </mat-card-content>

            <!-- Card Footer -->
            <mat-card-footer>
                <!-- Pagination component -->
                <mat-paginator
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)"
                    aria-label="Select page"
                    showFirstLastButtons
                >
                </mat-paginator>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <!-- Redirect to Selected Element -->
        <button
            *ngIf="Privileges?.PRIVILEGE_PER_ROLE_CREATE | Permission"
            mat-raised-button
            color="primary"
            class="margin-8"
            routerLink="/pages/voila3sample/privilege-per-role/detail-privilege-per-role/new"
        >
            {{ 'buttons.new' | translate: { '0': '' | translate } }}
        </button>
        <!--Export xlxs-->
        <button *ngIf="Privileges?.PRIVILEGE_PER_ROLE_REPORT | Permission" mat-raised-button color="primary" class="margin-8" (click)="printXlsxReport()">
            {{ 'buttons.export.xlxs' | translate }}
        </button>
    </div>
</div>
