<div style="width: 300px">
    <div style="display: flex; justify-content: flex-end">
        <button mat-icon-button color="primary" (click)="CloseDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h2 mat-dialog-title>{{ this.user.username }}</h2>
    <div mat-dialog-content>{{ this.user.email }}</div>
    <div mat-dialog-actions>
        <span>
            <button mat-flat-button color="primary" (click)="logout()">Logout</button>
        </span>
    </div>
</div>
