<div>
    <!--Form-->
    <form [formGroup]="tipoOrdineForm">
        <mat-card class="mat-elevation-z8">
            <mat-card-content class="overflow" fxLayout="column" fxLayoutGap="10" autosize>
                <!--Id Tipo Ordine-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <!--Label-->
                    <div fxLayout="column" fxFlex="30">
                        <!--In new mode show the ID as required field-->
                        <label *ngIf="pageStatus | hasPageStatus: 'new'">ID*</label>
                        <label *ngIf="pageStatus | hasPageStatus: 'edit'">ID</label>
                    </div>
                    <rsd-input-number formControlName="idTipoOrdine"></rsd-input-number>
                </div>
                <!--End Id Tipo Ordine-->
                <!--Anno Tipologia-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <!--Label-->
                    <div fxLayout="column" fxFlex="30">
                        <!--In new mode show the ID as required field-->
                        <label *ngIf="pageStatus | hasPageStatus: 'new'">ID*</label>
                        <label *ngIf="pageStatus | hasPageStatus: 'edit'">ID</label>
                    </div>
                    <rsd-input-number formControlName="annoTipologia"></rsd-input-number>
                </div>
                <!--End Anno Tipologia-->

                <!--Nome Ordine-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <div fxLayout="column" fxFlex="30">
                        <!--Label-->
                        <label>{{ 'voila3sample.detail.TipoOrdine.nomeOrdine' | translate }}</label>
                    </div>
                    <!--Input-->
                    <rsd-input-text formControlName="nomeOrdine"></rsd-input-text>
                </div>
                <!--End Nome Ordine-->
                <!-- Categoria Ordine-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <!--Label-->
                    <div fxLayout="column" fxFlex="30">
                        <mat-label>{{ 'voila3sample.detail.TipoOrdine.theCategoriaOrdineObjectKey' | translate }}*</mat-label>
                    </div>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{ 'voila3sample.detail.TipoOrdine.theCategoriaOrdineObjectKey' | translate }}</mat-label>
                        <!--Input-->
                        <mat-select formControlName="theCategoriaOrdineObjectKey">
                            <mat-option *ngFor="let categoriaOrdine of categoriaOrdineList" [value]="categoriaOrdine.objectKey">
                                {{ categoriaOrdine.objectTitle }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!--Tabs tipoOrdine -->
                <div class="tabs">
                    <app-tabs-tipo-ordine [formGroup]="tipoOrdineForm" [entity]="tipoOrdine" [pageStatus]="pageStatus"></app-tabs-tipo-ordine>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
