<h1 mat-dialog-title>TheCliente</h1>
<div mat-dialog-content>
    <mat-card>
        <!-- Card Header -->
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title>Lista theCliente</mat-card-title>
            <button mat-icon-button (click)="openDialogResid()" matTooltip="Ricerca Avanzata con Resid" [color]="filters === '' ? 'basic' : 'warn'">
                <!-- Advanced Search Button -->
                <mat-icon matBadgeSize="small" [matBadge]="filters === '' ? '' : '!'" matBadgeColor="accent"> filter_list </mat-icon>
            </button>
        </mat-card-header>
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Numero TheCliente trovati -->
            <!-- Elementi totali: {{totalRows}} -->
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <!-- Tabella tipo Cliente -->
            <table aria-label="cliente's table" mat-table [dataSource]="dataSource" matSort>
                <!-- Id Persona -->
                <ng-container matColumnDef="idPersona.idPersona">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Persona</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.idPersona }}</td>
                </ng-container>
                <!-- Cf -->
                <ng-container matColumnDef="idPersona.cf">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cf</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.cf }}</td>
                </ng-container>
                <!-- Punti -->
                <ng-container matColumnDef="punti">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Punti</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.punti }}</td>
                </ng-container>
                <!-- Nome -->
                <ng-container matColumnDef="nome">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.nome }}</td>
                </ng-container>
                <!-- Cognome -->
                <ng-container matColumnDef="cognome">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cognome</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.cognome }}</td>
                </ng-container>
                <!-- Email -->
                <ng-container matColumnDef="email">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.email }}</td>
                </ng-container>
                <!-- Telefono -->
                <ng-container matColumnDef="telefono">
                    <!-- Cell Header -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                    <!-- Cell Body-->
                    <td mat-cell *matCellDef="let cliente">{{ cliente.telefono }}</td>
                </ng-container>
                <th mat-header-row *matHeaderRowDef="displayedColumns"></th>
                <tr mat-row [mat-dialog-close]="row" *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </mat-card-content>
        <!-- Card Footer -->
        <mat-card-footer>
            <!-- Pagination Component -->
            <mat-paginator
                #paginator
                [length]="totalRows"
                [pageIndex]="currentPage"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageChanged($event)"
                aria-label="Select page"
                showFirstLastButtons
            >
            </mat-paginator>
        </mat-card-footer>
    </mat-card>
</div>
<div mat-dialog-actions>
    <!-- Cancel -->
    <button mat-button (click)="onNoClick()">Annulla</button>
</div>
