<div>
    <!--Form-->
    <form [formGroup]="privilegeForm">
        <mat-card class="mat-elevation-z8">
            <mat-card-content class="overflow" fxLayout="column" fxLayoutGap="10" autosize>
                <!--Privilege Id-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <!--Label-->
                    <div fxLayout="column" fxFlex="30">
                        <!--In new mode show the ID as required field-->
                        <label *ngIf="pageStatus | hasPageStatus: 'new'">ID*</label>
                        <label *ngIf="pageStatus | hasPageStatus: 'edit'">ID</label>
                    </div>
                    <rsd-input-number formControlName="privilegeId"></rsd-input-number>
                </div>
                <!--End Privilege Id-->

                <!--Name-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <div fxLayout="column" fxFlex="30">
                        <!--Label-->
                        <label>{{ 'voila3sample.detail.Privilege.name' | translate }}</label>
                    </div>
                    <!--Input-->
                    <rsd-input-text formControlName="name"></rsd-input-text>
                </div>
                <!--End Name-->
                <!--Description-->
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="space-around start">
                    <div fxLayout="column" fxFlex="30">
                        <!--Label-->
                        <label>{{ 'voila3sample.detail.Privilege.description' | translate }}</label>
                    </div>
                    <!--Input-->
                    <rsd-input-text formControlName="description"></rsd-input-text>
                </div>
                <!--End Description-->

                <!--Tabs privilege -->
                <div class="tabs">
                    <app-tabs-privilege [formGroup]="privilegeForm" [entity]="privilege" [pageStatus]="pageStatus"></app-tabs-privilege>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
