<div fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span>Filtra RolePerUser</span>
            <button mat-icon-button color="basic" mat-dialog-close (click)="close()"><mat-icon>close</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="mat-dialog-content" fxLayout="column">
        <form name="searchRolePerUserForm" [formGroup]="searchRolePerUserForm" (keyup.enter)="onSubmit()" fxLayout="column" fxLayoutGap="20" fxFlex>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <!-- Role Id -->
                <rsd-input-text formControlName="roleId"></rsd-input-text>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <!-- userId From -->
                <rsd-input-number formControlName="userIdDa" label="User Id {{ 'search.from' | translate }}..."></rsd-input-number>
                <!-- userId To -->
                <rsd-input-number formControlName="userIdA" label="...{{ 'search.to' | translate }}"></rsd-input-number>
            </div>

            <!-- Role -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="idRole">
                        <mat-option *ngFor="let role of roleList" [value]="role.objectKey">
                            {{ role.objectTitle }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- User -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24" fxLayoutGap.xs="20">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>User</mat-label>
                    <mat-select formControlName="idUser">
                        <mat-option *ngFor="let user of userList" [value]="user.objectKey">
                            {{ user.objectTitle }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions fxLayoutAlign="space-between center">
        <!-- Reset button -->
        <button type="reset" mat-raised-button (click)="clear()" class="button-reset-white">Reset</button>
        <!-- Search button -->
        <button type="submit" [mat-dialog-close]="data" (click)="onSubmit()" mat-raised-button color="primary">Cerca</button>
    </div>
</div>
