<div>
    <mat-card class="mat-elevation-z8">
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Role -->
            <div *ngIf="rolePerUser?.theRoleObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.RolePerUser.theRoleObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ rolePerUser!.theRoleObjectTitle }}</strong>
                    </div>
                </div>
            </div>
            <!-- User -->
            <div *ngIf="rolePerUser?.theUserObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.RolePerUser.theUserObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ rolePerUser!.theUserObjectTitle }}</strong>
                    </div>
                </div>
            </div>

            <!--Tabs rolePerUser -->
            <app-tabs-role-per-user [formGroup]="rolePerUserForm" [entity]="rolePerUser" [pageStatus]="pageStatus"></app-tabs-role-per-user>
        </mat-card-content>
    </mat-card>
</div>
