<div>
    <mat-card class="mat-elevation-z8">
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Id Cat Ordine -->
            <div *ngIf="categoriaOrdine?.idCatOrdine">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <div fxLayout="column" fxFlex="30">
                        <!-- Label -->
                        <label>ID</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ categoriaOrdine!.idCatOrdine }}</strong>
                    </div>
                </div>
            </div>

            <!--Tabs categoriaOrdine -->
            <app-tabs-categoria-ordine [formGroup]="categoriaOrdineForm" [entity]="categoriaOrdine" [pageStatus]="pageStatus"></app-tabs-categoria-ordine>
        </mat-card-content>
    </mat-card>
</div>
