<mat-card>
    <!-- Card Body -->

    <!-- Edit Mode -->

    <mat-card-content class="overflow" autosize>
        <!-- Numero clienti trovati -->
        <!-- {{ 'TipoOrdine' | tableInfo: totalElements: page: pageSize }} -->
        <!-- Tabella tipo categoriaOrdine -->
        <form [formGroup]="form">
            <ng-container formArrayName="theTipoOrdine">
                <table aria-label="theTipoOrdine's tab" mat-table [dataSource]="getTheTipoOrdine.controls.slice(currentPage * pageSize, (currentPage + 1) * pageSize)" matSort>
                    <!-- Id Tipo Ordine -->
                    <ng-container matColumnDef="idTipoOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.idTipoOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-number formControlName="idTipoOrdine" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Anno Tipologia -->
                    <ng-container matColumnDef="annoTipologia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.annoTipologia' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-number formControlName="annoTipologia" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Nome Ordine -->
                    <ng-container matColumnDef="nomeOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.nomeOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <!-- Nome Ordine Input-->
                            <rsd-input-text formControlName="nomeOrdine" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>
                    <!-- Remove TipoOrdine -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tipoOrdine">
                            <button mat-icon-button color="warn" *ngIf="!(tipoOrdine.get('entityState')?.value | hasEntityState: 'D')" (click)="eliminaTipoOrdine(tipoOrdine)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <!-- Delete Button -->
                            <button mat-icon-button color="primary" *ngIf="tipoOrdine.get('entityState')?.value | hasEntityState: 'D'" (click)="ripristinaTipoOrdine(tipoOrdine)">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                            <!-- Restore Button -->
                        </td>
                    </ng-container>

                    <!-- EntityStatus -->
                    <ng-container matColumnDef="entityState">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-text formControlName="entityState" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </ng-container>
        </form>
    </mat-card-content>

    <!-- New Mode -->

    <mat-card-content class="overflow" autosize *ngIf="newTheTipoOrdine.controls.length != 0">
        <!-- Tabella tipo categoriaOrdine -->
        <form [formGroup]="formNewEntities">
            <ng-container formArrayName="theTipoOrdine">
                <table aria-label="theTipoOrdine's tab" mat-table [dataSource]="newTheTipoOrdine.controls" matSort>
                    <!-- Id Tipo Ordine -->
                    <ng-container matColumnDef="idTipoOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.idTipoOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-number formControlName="idTipoOrdine" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Anno Tipologia -->
                    <ng-container matColumnDef="annoTipologia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.annoTipologia' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-number formControlName="annoTipologia" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Nome Ordine -->
                    <ng-container matColumnDef="nomeOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.TipoOrdine.nomeOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-text formControlName="nomeOrdine" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>
                    <!-- Remove TipoOrdine -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tipoOrdine">
                            <button mat-icon-button color="warn" (click)="eliminaRigaNuovoTipoOrdine(tipoOrdine)"><mat-icon>delete</mat-icon></button
                            ><!-- Delete Button -->
                        </td>
                    </ng-container>

                    <!-- EntityStatus -->
                    <ng-container matColumnDef="entityState">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tipoOrdine" [formGroup]="tipoOrdine">
                            <rsd-input-text formControlName="entityState" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </ng-container>
        </form>
    </mat-card-content>

    <!-- Card Footer -->
    <mat-card-footer>
        <button mat-raised-button class="margin-8" color="primary" (click)="aggiungiTipoOrdine()">Nuovo</button>
        <mat-paginator
            #paginator
            [length]="totalRows"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
        >
        </mat-paginator>
    </mat-card-footer>
</mat-card>
