<mat-card>
    <!-- Card Header -->
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Quick Filter -->
        <form class="quick" name="searchOrdineForm" [formGroup]="searchOrdineForm" (keyup)="onUp()" fxLayout="column" fxLayoutGap="20" fxFlex>
            <!-- Full Text Search based on Created By -->
            <rsd-input-text formControlName="createdBy" iconSuffix="search"></rsd-input-text>
        </form>
    </mat-card-header>
    <!-- Card Content -->
    <mat-card-content class="overflow" autosize>
        <!-- View Mode -->
        <!-- Numero theOrdine trovati -->
        <!-- {{ Ordine | tableInfo: totalElements: page: pageSize }} -->
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <!-- Tabella tipo theOrdine -->
        <table aria-label="theOrdine's tab" mat-table [dataSource]="dataSource" matSort>
            <!-- Id Ordine -->
            <ng-container matColumnDef="idOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.idOrdine' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.idOrdine }}</td>
            </ng-container>
            <!-- Data Ordine -->
            <ng-container matColumnDef="dataOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.dataOrdine' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.dataOrdine | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <!-- Tempo Ordine -->
            <ng-container matColumnDef="tempoOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.tempoOrdine' | translate }}</th>
                <td mat-cell *matCellDef="let ordine">{{ ordine.tempoOrdine }}</td>
            </ng-container>
            <!-- Cliente -->
            <ng-container matColumnDef="theCliente.ThePersonaKey">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theClienteObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let tipoOrdine">{{ tipoOrdine.theClienteObjectTitle }}</td>
            </ng-container>

            <!-- Ordine -->
            <ng-container matColumnDef="theOrdineAggregato.idOrdine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theOrdineAggregatoObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let tipoOrdine">{{ tipoOrdine.theOrdineAggregatoObjectTitle }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
    <!-- Footer -->
    <mat-card-footer>
        <mat-paginator
            #paginator
            [length]="totalRows"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
        >
        </mat-paginator>
    </mat-card-footer>
</mat-card>
