<!-- Tabella prodotto -->
<mat-table [dataSource]="salesList">
    <!-- Product -->
    <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Prodotto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.product }} </mat-cell>
    </ng-container>

    <!-- Price -->
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Prezzo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }}</mat-cell>
    </ng-container>

    <!-- Date -->
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
