table{
    width: 80%;
}

.mat-column-product{
    text-align: left;
    justify-content:center;
 }

.mat-column-price{
    text-align: center;
    justify-content:center;
 }

.mat-column-date{
    text-align: center;
    justify-content:center;
 }

