<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <!--Back Button-->
        <button *ngIf="(pageStatus | hasPageStatus: 'edit') || (pageStatus | hasPageStatus: 'new')" mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        <!--List Button-->
        <button *ngIf="pageStatus | hasPageStatus: 'view'" mat-icon-button (click)="goList()"><mat-icon>arrow_back</mat-icon></button>
        <!--Title-->
        <!-- Title will change with PageStatus -->
        <mat-card-title *ngIf="pageStatus | hasPageStatus: 'view'">{{ 'voila3sample.detail.Ordine.labelDetail' | translate }}</mat-card-title>
        <mat-card-title *ngIf="pageStatus | hasPageStatus: 'edit'">{{ 'voila3sample.detail.Ordine.labelEdit' | translate }}</mat-card-title>
        <mat-card-title *ngIf="pageStatus | hasPageStatus: 'new'">{{ 'voila3sample.detail.Ordine.labelNew' | translate }}</mat-card-title>
    </div>
    <div class="content">
        <!-- View Component -->
        <app-detail-ordine-view *ngIf="pageStatus | hasPageStatus: 'view'" [ordine]="ordine" [pageStatus]="pageStatus" [ordineForm]="ordineForm"></app-detail-ordine-view>
        <!-- Edit/New Component -->
        <app-detail-ordine-edit *ngIf="pageStatus | hasPageStatus: ['edit', 'new']" [ordine]="ordine" [pageStatus]="pageStatus" [ordineForm]="ordineForm"></app-detail-ordine-edit>
    </div>
    <div class="footer" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
        <!--New Button-->

        <!--Edit Button-->
        <button mat-raised-button color="primary" class="margin-8" *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.ORDINE_UPDATE | Permission)" (click)="editOrdine()">
            {{ 'buttons.edit' | translate }}
        </button>
        <!--Delete Button-->
        <button
            mat-raised-button
            color="primary"
            class="margin-8"
            *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.ORDINE_DELETE | Permission)"
            (click)="confirmDeleteOrdine()"
        >
            {{ 'buttons.delete' | translate }}
        </button>
        <!--Save Button-->
        <button mat-raised-button color="primary" class="margin-8" *ngIf="(pageStatus | hasPageStatus: 'new') && (Privileges?.ORDINE_CREATE | Permission)" (click)="insertOrdine()">
            {{ 'buttons.save' | translate }}
        </button>
        <!--Update Button-->
        <button
            mat-raised-button
            color="primary"
            class="margin-8"
            *ngIf="(pageStatus | hasPageStatus: 'edit') && (Privileges?.ORDINE_UPDATE | Permission)"
            (click)="updateOrdine()"
        >
            {{ 'buttons.update' | translate }}
        </button>
        <!--PDF Export Button-->
        <button
            mat-raised-button
            color="primary"
            class="margin-8"
            *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.ORDINE_REPORT | Permission)"
            (click)="printPdfReport()"
        >
            {{ 'buttons.export.pdf' | translate }}
        </button>
    </div>
</div>
