<mat-card>
    <!-- Card Body -->

    <!-- Edit Mode -->

    <mat-card-content class="overflow" autosize>
        <!-- Numero clienti trovati -->
        <!-- {{ 'Ordine' | tableInfo: totalElements: page: pageSize }} -->
        <!-- Tabella tipo statoOrdine -->
        <form [formGroup]="form">
            <ng-container formArrayName="theOrdine">
                <table aria-label="theOrdine's tab" mat-table [dataSource]="getTheOrdine.controls.slice(currentPage * pageSize, (currentPage + 1) * pageSize)" matSort>
                    <!-- Id Ordine -->
                    <ng-container matColumnDef="idOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.idOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-number formControlName="idOrdine" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Descrizione -->
                    <ng-container matColumnDef="descrizione">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.descrizione' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <!-- Descrizione Input-->
                            <rsd-input-text formControlName="descrizione" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>
                    <!-- Datetime -->
                    <ng-container matColumnDef="datetime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.datetime' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <!-- Datetime Input-->
                            <datetimepicker formControlName="datetime" appearance="fill"></datetimepicker>
                        </td>
                    </ng-container>
                    <!-- Date -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.date' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <!-- Date Input-->
                            <rsd-input-data formControlName="date" appearance="fill"></rsd-input-data>
                        </td>
                    </ng-container>
                    <!-- Time -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.time' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <!-- Time Input-->
                            <timepicker formControlName="time" appearance="fill"></timepicker>
                        </td>
                    </ng-container>
                    <!-- Tipo Ordine -->
                    <ng-container matColumnDef="theTipoOrdineObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theTipoOrdineObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo Ordine</mat-label>
                                <mat-select formControlName="theTipoOrdineObjectKey">
                                    <!-- Dropdown Tipo Ordine -->
                                    <mat-option *ngFor="let tipoOrdine of tipoOrdineList" [value]="tipoOrdine.objectKey">
                                        {{ tipoOrdine.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Tipo Ordine -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Cliente -->
                    <ng-container matColumnDef="theClienteObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theClienteObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Cliente</mat-label>
                                <mat-select formControlName="theClienteObjectKey">
                                    <!-- Dropdown Cliente -->
                                    <mat-option *ngFor="let cliente of clienteList" [value]="cliente.objectKey">
                                        {{ cliente.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Cliente -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Ordine Aggregato -->
                    <ng-container matColumnDef="theOrdineAggregatoObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theOrdineAggregatoObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Ordine Aggregato</mat-label>
                                <mat-select formControlName="theOrdineAggregatoObjectKey">
                                    <!-- Dropdown Ordine Aggregato -->
                                    <mat-option *ngFor="let ordineAggregato of ordineAggregatoList" [value]="ordineAggregato.objectKey">
                                        {{ ordineAggregato.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Ordine Aggregato -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Remove Ordine -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let ordine">
                            <button mat-icon-button color="warn" *ngIf="!(ordine.get('entityState')?.value | hasEntityState: 'D')" (click)="eliminaOrdine(ordine)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <!-- Delete Button -->
                            <button mat-icon-button color="primary" *ngIf="ordine.get('entityState')?.value | hasEntityState: 'D'" (click)="ripristinaOrdine(ordine)">
                                <mat-icon>settings_backup_restore</mat-icon>
                            </button>
                            <!-- Restore Button -->
                        </td>
                    </ng-container>

                    <!-- EntityStatus -->
                    <ng-container matColumnDef="entityState">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-text formControlName="entityState" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </ng-container>
        </form>
    </mat-card-content>

    <!-- New Mode -->

    <mat-card-content class="overflow" autosize *ngIf="newTheOrdine.controls.length != 0">
        <!-- Tabella tipo statoOrdine -->
        <form [formGroup]="formNewEntities">
            <ng-container formArrayName="theOrdine">
                <table aria-label="theOrdine's tab" mat-table [dataSource]="newTheOrdine.controls" matSort>
                    <!-- Id Ordine -->
                    <ng-container matColumnDef="idOrdine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.idOrdine' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-number formControlName="idOrdine" appearance="fill"></rsd-input-number>
                        </td>
                    </ng-container>
                    <!-- Descrizione -->
                    <ng-container matColumnDef="descrizione">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.descrizione' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-text formControlName="descrizione" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>
                    <!-- Datetime -->
                    <ng-container matColumnDef="datetime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.datetime' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <datetimepicker formControlName="datetime" appearance="fill"></datetimepicker>
                        </td>
                    </ng-container>
                    <!-- Date -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.date' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-data formControlName="date" appearance="fill"></rsd-input-data>
                        </td>
                    </ng-container>
                    <!-- Time -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.time' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <timepicker formControlName="time" appearance="fill"></timepicker>
                        </td>
                    </ng-container>
                    <!-- Tipo Ordine -->
                    <ng-container matColumnDef="theTipoOrdineObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theTipoOrdineObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo Ordine</mat-label>
                                <mat-select formControlName="theTipoOrdineObjectKey">
                                    <!-- Dropdown Tipo Ordine -->
                                    <mat-option *ngFor="let tipoOrdine of tipoOrdineList" [value]="tipoOrdine.objectKey">
                                        {{ tipoOrdine.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Tipo Ordine -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Cliente -->
                    <ng-container matColumnDef="theClienteObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theClienteObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Cliente</mat-label>
                                <mat-select formControlName="theClienteObjectKey">
                                    <!-- Dropdown Cliente -->
                                    <mat-option *ngFor="let cliente of clienteList" [value]="cliente.objectKey">
                                        {{ cliente.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Cliente -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Ordine Aggregato -->
                    <ng-container matColumnDef="theOrdineAggregatoObjectKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Ordine.theOrdineAggregatoObjectKey' | translate }}</th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <mat-form-field appearance="fill">
                                <mat-label>Ordine Aggregato</mat-label>
                                <mat-select formControlName="theOrdineAggregatoObjectKey">
                                    <!-- Dropdown Ordine Aggregato -->
                                    <mat-option *ngFor="let ordineAggregato of ordineAggregatoList" [value]="ordineAggregato.objectKey">
                                        {{ ordineAggregato.objectTitle | camelCaseToText }}
                                    </mat-option>
                                </mat-select>
                                <!-- End Dropdown Ordine Aggregato -->
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Remove Ordine -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let ordine">
                            <button mat-icon-button color="warn" (click)="eliminaRigaNuovoOrdine(ordine)"><mat-icon>delete</mat-icon></button
                            ><!-- Delete Button -->
                        </td>
                    </ng-container>

                    <!-- EntityStatus -->
                    <ng-container matColumnDef="entityState">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let ordine" [formGroup]="ordine">
                            <rsd-input-text formControlName="entityState" appearance="fill"></rsd-input-text>
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </ng-container>
        </form>
    </mat-card-content>

    <!-- Card Footer -->
    <mat-card-footer>
        <button mat-raised-button class="margin-8" color="primary" (click)="aggiungiOrdine()">Nuovo</button>
        <mat-paginator
            #paginator
            [length]="totalRows"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
        >
        </mat-paginator>
    </mat-card-footer>
</mat-card>
