<div>
    <mat-card class="mat-elevation-z8">
        <!-- Card Body -->
        <mat-card-content class="overflow" autosize>
            <!-- Descrizione -->
            <div *ngIf="ordine?.descrizione">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.descrizione' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.descrizione }}</strong>
                    </div>
                </div>
            </div>
            <!-- Datetime -->
            <div *ngIf="ordine?.datetime">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.datetime' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.datetime }}</strong>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div *ngIf="ordine?.date">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.date' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.date }}</strong>
                    </div>
                </div>
            </div>
            <!-- Time -->
            <div *ngIf="ordine?.time">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.time' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.time }}</strong>
                    </div>
                </div>
            </div>

            <!-- Id Ordine -->
            <div *ngIf="ordine?.idOrdine">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <div fxLayout="column" fxFlex="30">
                        <!-- Label -->
                        <label>ID</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.idOrdine }}</strong>
                    </div>
                </div>
            </div>
            <!-- Stato Ordine -->
            <div *ngIf="ordine?.theStatoOrdineObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.theStatoOrdineObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.theStatoOrdineObjectTitle }}</strong>
                    </div>
                </div>
            </div>
            <!-- Tipo Ordine -->
            <div *ngIf="ordine?.theTipoOrdineObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.theTipoOrdineObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.theTipoOrdineObjectTitle }}</strong>
                    </div>
                </div>
            </div>
            <!-- Cliente -->
            <div *ngIf="ordine?.theClienteObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.theClienteObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.theClienteObjectTitle }}</strong>
                    </div>
                </div>
            </div>
            <!-- Ordine Aggregato -->
            <div *ngIf="ordine?.theOrdineAggregatoObjectKey">
                <div class="p3-m5" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <!-- Label -->
                    <div fxLayout="column" fxFlex="30">
                        <label>{{ 'voila3sample.detail.Ordine.theOrdineAggregatoObjectKey' | translate }}</label>
                    </div>
                    <!-- Value -->
                    <div fxLayout="column">
                        <strong>{{ ordine!.theOrdineAggregatoObjectTitle }}</strong>
                    </div>
                </div>
            </div>

            <!--Tabs ordine -->
            <app-tabs-ordine [formGroup]="ordineForm" [entity]="ordine" [pageStatus]="pageStatus"></app-tabs-ordine>
        </mat-card-content>
    </mat-card>
</div>
