<mat-card>
    <!-- Card Header -->
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
        <!-- Quick Filter -->
        <form class="quick" name="searchRoleForm" [formGroup]="searchRoleForm" (keyup)="onUp()" fxLayout="column" fxLayoutGap="20" fxFlex>
            <!-- Full Text Search based on Role Id -->
            <rsd-input-text formControlName="roleId" iconSuffix="search"></rsd-input-text>
        </form>
    </mat-card-header>
    <!-- Card Content -->
    <mat-card-content class="overflow" autosize>
        <!-- View Mode -->
        <!-- Numero theRole trovati -->
        <!-- {{ Role | tableInfo: totalElements: page: pageSize }} -->
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <!-- Tabella tipo theRole -->
        <table aria-label="theRoleRoleChild's tab" mat-table [dataSource]="dataSource" matSort>
            <!-- Role Id -->
            <ng-container matColumnDef="roleId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Role.roleId' | translate }}</th>
                <td mat-cell *matCellDef="let role">{{ role.roleId }}</td>
            </ng-container>
            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Role.name' | translate }}</th>
                <td mat-cell *matCellDef="let role">{{ role.name }}</td>
            </ng-container>
            <!-- Role -->
            <ng-container matColumnDef="theRoleRoleGroup.idRole">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'voila3sample.detail.Role.theRoleRoleGroupObjectKey' | translate }}</th>
                <td mat-cell *matCellDef="let role">{{ role.theRoleRoleGroupObjectTitle }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
    <!-- Footer -->
    <mat-card-footer>
        <mat-paginator
            #paginator
            [length]="totalRows"
            [pageIndex]="currentPage"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)"
            aria-label="Select page"
            showFirstLastButtons
        >
        </mat-paginator>
    </mat-card-footer>
</mat-card>
